/* Base styles for the header */
.main-header {
    background-color: #bb2929;
    padding: 10px 20px; /* Padding around the header content */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Title styles */
  .main-header h2 {
    color: white;
    margin: 0;
    font-size: 24px;
  }
  
  /* Navigation links container */
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  /* Navigation link styles */
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  
  /* Active link style */
  .nav-links a.active {
    font-weight: bold;
  }
  
  /* Button styles */
  .nz-button {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 16px;
    border: none; /* Remove default button border */
    background-color: transparent; /* Transparent background */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .nz-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light transparent background on hover */
    border-radius: 4px; /* Rounded corners on hover */
  }
  
  /* Adjust button style for small screens */
  @media screen and (max-width: 768px) {
    .main-header {
      flex-direction: column; /* Stack elements vertically on small screens */
      padding: 10px;
    }
    
    .nav-links {
      margin-top: 10px; /* Space between title and links */
    }
    
    .nav-links a {
      margin-left: 0; /* Remove left margin for links on small screens */
      margin-right: 10px; /* Add right margin */
    }
  }
  